* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-size: cover;
  background-repeat: no-repeat;
}

body, button {
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;

  font-size: 16px;

  color: #C4C4CC;
}

.container {
  width: 80%;
  margin: auto;
}

header nav {
  display: flex;
  align-items: center;
  gap: 32px;
  margin: 40px 0;
}

#app {
  margin-top: 63px;
}

h2 {
  font-weight: 700;
  font-size: 48px;
  line-height: 125%;

  color: #E1E1E6;
}

p {
  width: 648px;
  line-height: 160%;

  margin-top: 16px;

  color: #E1E1E6;
}

button {
  padding: 12px 32px;

  background: transparent;

  border: 2px solid #FFFFFF;
  border-radius: 5px;

  text-transform: uppercase;
  color: #FFF;

  margin-top: 24px;

  transition: background-color color .3s;
}

button:hover {
  background: #FFFFFF;
  color: #02799D;
}